
/.gnupg/crls.d/DIR.txt

/.gnupg/openpgp-revocs.d/D5C4630DCC21EADD00C43AC261E33192CB11A36C.rev

/.gnupg/private-keys-v1.d/3258ACD4836C2ACD705265E3A304D44E1A76A784.key

/.gnupg/private-keys-v1.d/FAE2BB218A86D6AA55DDA1FF7D32C845BB3A4738.key

/.gnupg/pubring.kbx

/.gnupg/tofu.db

/.gnupg/trustdb.gpg

/.ipython/

/.config/

/.viminfo
